body {
  color: $gray-600;
  letter-spacing: 1px;
}

.wrap {
  min-height: calc(100vh - 110px - 6rem);
}

.form-signin {
  width: 100%;
  max-width: 420px;
  margin: auto;
}

.register-form {
  label {
    &::after {
      content: '*';
      color: $primary;
      margin-left: 0.5rem;
    }
  }
}

.form-control {
  &::placeholder {
    color: $gray-200;
  }
}