/*ドロワー*/
.l-drawer {
  position: relative;
  // inputのcheckboxは非表示
  &__checkbox {
    display: none;
  }
  // ハンバーガーアイコン
  &__icon {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 0.3rem;
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
    margin: 0;
    // menuテキスト
    &-txt {
      position: absolute;
      bottom: 0.5rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      font-size: 0.7rem;
      font-weight: bold;
      text-align: center;
      color: $gray-600;
    }
    // ハンバーガーアイコンの中の線
    &-parts,
    &-parts:before {
      background-color: $gray-600;
      display: block;
      width: 26px;
      height: 2px;
      position: absolute;
      top: 0.7rem;
      right: 0;
      left: 0;
      margin: auto;
    }

    &-parts:before {
      content: '';
      top: 0.5rem;
    }

    &:hover {
      background-color: $gray-200;
    }
  }
  // リンク
  &__item-inner {
    display: block;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.25rem;

    &:hover {
      background-color: $gray-100;
      text-decoration: none;
    }

    i {
      font-size: 1.5rem;
    }
  }
  // ドロワーメニュー開いた時のメインエリアを暗く
  &__overlay {
    background: $gray-600;
    opacity: 0;
    pointer-events: none; //ポインタの動作全部無効化
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
  }
  // ドロワーメニュー
  &__menu {
    background: $white;
    color: $gray-600;
    max-width: 100%;
    width: 320px;
    height: 100vh;
    overflow-y: auto; //スクロール
    -webkit-overflow-scrolling: touch; //スクロール（SP）
    position: fixed;
    top: 0;
    right: -320px;

    ul {
      padding: 3rem 0;
      margin: 0;
      box-sizing: border-box;
      list-style: none;
    }
  }
  // z-indexの指定（1がメインエリア）
  &__icon {
    z-index: 4;
  }

  &__menu {
    z-index: 3;
  }

  &__overlay {
    z-index: 2;
  }
  // チェックが入ったら（アイコンクリックしたら）
  &__checkbox:checked ~ {
    // ハンバーガーアイコン
    .l-drawer__icon {
      right: 320px;

      .l-drawer__icon-parts:before {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        top: 0;
      }

      .l-drawer__icon-parts {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 1rem;
      }
    }
    // メインエリアを暗くする
    .l-drawer__overlay {
      opacity: 0.3;
      pointer-events: auto; //ポインタの動作デフォルトに戻す
    }
    // メニューをだす
    .l-drawer__menu {
      right: 0;
    }
  }
  // 動きをスムーズに
  &__icon,
  &__icon-parts,
  &__icon-parts:before,
  &__menu,
  &__overlay {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
}